* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font: 50px "Micro 5", sans-serif, serif;
  background: #000;
  color: #fff;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

footer {
  margin-top: 20px;
  text-align: center;
  font: 14px serif;
  color: #424242;
  position: relative;
}

h1,
.score {
  text-align: center;
}

.sidebar,
#game {
  border: 8px double #fff;
  border-radius: 10px;
}

.sidebar {
  padding: 20px;
  width: 20%;
}

.sidebar fieldset:last-of-type {
  margin-bottom: 20px;
}

.controls p {
  font-size: 40px;
}

fieldset {
  border-radius: 5px;
}

fieldset legend {
  padding: 0 1rem;
}

#next,
#saved {
  display: block;
  margin: 0 auto 20px;
}
